<html>
    <head>
        <title>Website Saya</title>
        <link rel="icon" href="icon-dev.png" />
    </head>
    <body>
        <h1 style="color: cadetblue">Halo, saya Leo</h1>

        <!-- <p>
            <a href="https://google.com">Web Google</a>
        </p> -->
        
        <p>
            <a href="https://facebook.com">Web Facebook</a>
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, tenetur quam earum quasi nemo et placeat aspernatur voluptas magni consequuntur iure maiores voluptatum ea accusantium deserunt magnam sequi inventore suscipit fugiat dicta? Tempora, illum hic ad expedita iusto, vel deserunt esse ab, accusamus non at consequatur autem? Eveniet, doloremque ullam!</p>
        
    </body>
</html>