
      

  <!-- BLOG DETAIL SECTION -->
  <article class="blog-detail">
      <h1>Pasar Coding di Indonesia</h1>

      <p>31 Jan 2025 11:00 WIB | jaja</p>

      <img src="assets/img/blog-img-detail.png" alt="blog-image">

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam esse et molestias odit tempore accusantium vel, dolor sunt tempora earum.</p>
  </article>
    </body>
    </html>
