 <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Website</title>
    <link rel="icon" href="assets/img/icon-dev.png" />
    <link rel="stylesheet" href="assets/css/global-font.css" />
    <link rel="stylesheet" href="/assets/css/style.css"/>
  </head>

  <body>
    <nav>
      <div class="nav-container">
        <div class="navbar-left">
          <a href="#">
            <img
              class="web-logo"
              src="assets/img/icon-dev.png"
              alt="web logo"
            />
          </a>
          <ul class="navbar-links">
            <li>
              <a href="index.html" class="link-active">Home</a>
            </li>
            <li>
              <a href="blog.html" class="link">Blog</a>
            </li>
            <li>
              <a href="testimonial.html" class="link">Testimonial</a>
            </li>
          </ul>
        </div>

        <div class="navbar-right">
          <a href="contact.html" class="contact-link">Contact Me</a>
        </div>
        <div class="hamburger-container">
          <button
            type="button"
            id="hamburgerButton"
            class="contact-link hamburger-button"
          >
            ☰
          </button>
        </div>
      </div>

      <ul id="menuList" class="hamburger-menu-list hide-menu">
        <li>Home</li>
        <li>Blog</li>
        <li>Contact Me</li>
      </ul>
    </nav>

    <main class="home-page">
      <!-- Card Component -->
       <section class="profile-section"> 
        <div id="profileCard">
          <img
            src="assets/img/coding.jpg"
            style="width: 100%; border-radius: 15px"
          />

          <h1>rizal khudori</h1>

          <p class="paragraph-1" style="color: darkcyan; margin-bottom: 30px">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut hic, placeat exercitationem vel qui quod molestiae nam? Aspernatur sed, ratione obcaecati totam nihil magnam repudiandae aperiam eius error consectetur voluptates!.
          </p>

          <p class="paragraph-2" style="color: darkcyan; margin-bottom: 30px">
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate voluptatibus velit, odit accusantium maxime aliquid repudiandae animi, eaque deserunt ut error placeat corporis autem iste harum recusandae dolorum voluptate fugit..
          </p>

          <table
            style="
              border: 1.5px solid #a8a8a8;
              box-shadow: 0 0 4px #a8a8a8;

              border-collapse: collapse;
              width: 100%;
            "
          >
            <tr>
              <th style="border: 1px solid #a8a8a8">Experience</th>
              <th style="border: 1px solid #a8a8a8">Year</th>
            </tr>
            <tr style="text-align: center">
              <td style="border: 1px solid #a8a8a8">Personal Web</td>
              <td style="border: 1px solid #a8a8a8">2024</td>
            </tr>
            <tr style="text-align: center">
              <td style="border: 1px solid #a8a8a8">Mobile Application</td>
              <td style="border: 1px solid #a8a8a8">2024</td>
            </tr>
          </table>
        </div>
      </section>

      <section
        class="about-section"
      >
        <h2>About Me</h2>
  
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus error modi laudantium veritatis aspernatur quis perspiciatis. Odio blanditiis obcaecati ex architecto velit eos consectetur nobis distinctio voluptatem illo quidem officiis maiores libero accusantium, laudantium corporis. Ut eius soluta deleniti quasi magni modi, distinctio repudiandae saepe exercitationem quod dolores nam id adipisci nostrum tempore unde assumenda doloribus aperiam! Reprehenderit sequi dolorum cum voluptatibus saepe? Sequi nihil, et molestias, blanditiis quo sint architecto eos nostrum cumque consectetur in, quas a alias. Accusantium dolor soluta minus sint provident unde repudiandae eius perspiciatis dolores nisi dolorum velit harum iusto, non officia dolorem repellendus eaque.
        </p>

        <div style="width: 200px">
          <h2
            style="
              background: linear-gradient(to right, red, blue);
              background-clip: text;
              color: transparent;
            "
          >
            My skill
          </h2>
        </div>
        <div id="teknoligis">
          <div id="js">
            <img src="assets/img/js.png" alt="">
            <h2>Frontend Developer</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est sapiente quod fugit consectetur repellendus nesciunt dolorum quas optio quasi enim.</p>
          </div>
          <div id="vc">
            <img src="assets/img/git.png" alt="">
            <h2>Version Control</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti molestias sapiente vero magni corrupti suscipit earum amet harum accusantium reiciendis?.</p>
          </div>
          <div id="ad">
            <img src="assets/img/deploy.png" alt="">
            <h2>Automated Deployment</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea repellat rerum! Earum, sunt.</p>
          </div>
        </div>

        <!-- sosial -->
         <div id="sosial">
          <h2>find me on</h2>
          <dir>
            <a href="">
              <img src="assets/img/facebook.png" alt="">
            </a>
            <a href="">
              <img src="assets/img/twitter.png" alt="">
            </a>
            <a href="">
              <img src="assets/img/instagram.png" alt="">
            </a>
            <a href="">
              <img src="assets/img/mail.png" alt="">
            </a>
            <a href="">
              <img src="assets/img/whatsapp.png" alt="">
            </a>
          </dir>
         </div>
      </section> 
    </main>
    <script src="assets/js/navbar.js"></script>
    <script src="assets/js/button.js"></script>
  </body>
</html> --> -->
