{{layout}}
    <main>
      <h1>My Testimonial</h1>
      <h3>Rating By Star</h3>

      <div class="star-button">
        <button>All</button>
        <button>1 ★</button>
        <button>2 ★</button>
        <button>3 ★</button>
        <button>4 ★</button>
        <button>5 ★</button>
      </div>

      <div class="testimonial-list">
        <div class="testimonials">
          <img src="/personal-web/assets/img/image1.jpg" alt="" />
          <i class="testi">Lorem </i>
          <p class="nama"></p>
          <p class="star">5★</p>
        </div>
        <div class="testimonials">
          <img src="/personal-web/assets/img/image2.jpg" alt="" />
          <i class="testi">Lorem .</i>
          <p class="nama"></p>
          <p class="star">5★</p>
        </div>
        <div class="testimonials">
          <img src="/personal-web/assets/img/image3.jpg" alt="" />
          <i class="testi">L</i>
          <p class="nama"></p>
          <p class="star">5★</p>
        </div>
      </div>
    </main>

    <!-- <script src="/personal-web/assets/js/learning/basics.js"></script> -->
    <script src="/personal-web/assets/js/testimonial.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
{{/layout}}